body {
    background-color: #45A29E;
}

table, td, tr, th {
    transition: .5s;
    margin: auto;
    border: 5px solid #C5C6C7;
    border-collapse: collapse;
}
td:hover {
    background-color: #66FCF1;
    transform: scale(1.3);
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: lightcyan;
}
tr:hover {
    transform: scale(1.2);
    background-color: #45A29E;
    border-radius: 20px;
}

tr.selected {
    background-color: white;
}

.button {
    text-align: center;
    padding-top: 20px;
}
.header {
    background-color: #0B0C10;
    height: 70px;
    top: 0px;
    width: 100%;
    margin: 0%;
    position: absolute;
    left: 0px;
}

label {
    color: #66FCF1;
    font-size: 140%;
}
th {
    background-color: white;
}