body {
    background-color: #45A29E;
}

table, td, tr, th {
    transition: .5s;
    margin: auto;
    border: 5px solid #C5C6C7;
    border-collapse: collapse;
}

table { margin:65px 15px; }
th { background-color: white; }
tr:nth-child(even) { background-color: lightblue; }
tr:nth-child(odd)  { background-color: lightcyan; }
tr.selected { background-color: greenyellow; }

tr:hover {
    background-color: #45A29E;
    border-radius: 20px;
}

td:hover {
    background-color: #66FCF1;
    /*transform: scale(1.1);*/
}

.button {
    text-align: center;
    padding-top: 20px;
}

.header {
    background-color: slategray;
    height: 115px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin: 0;
}

label {
    color: #66FCF1;
    font-size: 140%;
}
