* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #121212;
    color: #fff;
    min-height: 100vh;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
    color: #a259ff;
}

header p {
    color: #aaa;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

/* search bar rules */
.searchBar {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.searchBar input {
    width: 360px;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    background: #1e1e2e;
    color: white;
    font-size: 1rem;
    outline: 2px solid #a259ff;
}

.searchBar button {
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 8px;
    background: #a259ff;
    color: white;
    cursor: pointer;
}

.searchBar button:hover {
    background: #7c3aed;
}

.mainLayout {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 20px;
}

/* Album list */
.albumList {
    height: 650px;
    overflow-y: auto;
    background: #1d1d1d;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px;
}

.album {
    display: flex;
    gap: 12px;
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.album:hover {
    background: #2b2b2b;
}

.album img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.albumTitle {
    color: #8cc8ff;
    font-weight: bold;
    cursor: pointer;
}

.albumTitle:hover {
    text-decoration: underline;
}

/* Right-side details panel */
.detailsPanel {
    background: #1d1d1d;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
}

#albumImage {
    width: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
}

#albumTitle {
    margin-bottom: 6px;
}

#artistName {
    color: #aaa;
    margin-bottom: 20px;
}

/* Back button */
#backBtn {
    margin-bottom: 15px;
    padding: 8px 16px;
    background: #a259ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#backBtn:hover {
    background: #7c3aed;
}

/* Track list */
#trackList {
    height: 550px;
    overflow-y: auto;
    border-top: 1px solid #444;
    padding-top: 10px;
}

#trackList p {
    padding: 8px 0;
    border-bottom: 1px solid #333;
}

audio {
    float:right;
    padding:0px 5px;
    width:150px;
    height:20px;
}