table, tr, td, th { border: 1px solid black; border-collapse: collapse; padding: 4px 8px;}
td.left     { width: 45%;}
td.right    { width: 55%;}
td.full     { width: 100%;}
/* td {width:25%;} */
.scrolling  { width: 100%;}
tr.current > td:first-child {  
    background-image: url('../images/rtArrow.png'); 
    background-size: 20px 20px; 
    background-repeat: no-repeat; 
    background-position: center right;
}

td.blk  { background-color: #444;}
td.op   { background-color: lightgray;      width: 18%;    font-size: 1.2em; font-family: 'Roboto';  }
td.op2  { background-color: lightgreen;          font-size: 1.2em; font-family: 'Roboto';  }
td.shamt{ background-color: lightslategray; width: 18%;    font-size: 1.2em; font-family: 'Roboto';  }
td.rm   { background-color: lightseagreen;  width: 13%;    font-size: 1.2em; font-family: 'Roboto';  }
td.rn   { background-color: darkturquoise;  width: 13%;    font-size: 1.2em; font-family: 'Roboto';  }
td.rd   { background-color: darkorange;     width: 13%;    font-size: 1.2em; font-family: 'Roboto';  }
td.off  { background-color: skyblue;        width: 22%;    font-size: 1.2em; font-family: 'Roboto';  }
td.broff{ background-color: skyblue;        width: 25%;    font-size: 1.2em; font-family: 'Roboto';  }
td.inst { background-color: lemonchiffon;   width: 25%;    font-size: 1.2em; font-family: 'Roboto';  }

td.step     { background-color: darkgrey;      width: .3em;}
td.tag      { background-color: darkgreen;     width: 25%; font-size: 1.0em; padding: 4px; color:white;}
td.index    { background-color: blue;          width: 15%;                   font-family: 'Courier New bold'; color:white;}
td.offset   { background-color: lemonchiffon;  width: 30%; font-size: 1.0em; font-family: 'Roboto'; color:black; }
td.binary   { background-color: lemonchiffon;  width: 40%; font-size: 1em;   font-family: 'Courier New'; }
td.Hit      { background-color: green;         width: 15%; font-size: 0.8em;}
td.address  {                                    width: 20%;}
tr.current  { background-color: aquamarine; color:black}
td.op2Bin-currDecode, tr.op2Bin-currDecode     { background-color: skyblue; }
td.bin2Op-currDecode, tr.bin2Op-currDecode     { background-color: greenyellow; }
tr.next     { background-color: gold; color:black;  text-align: right; font-size: 1.2em;}
tr.nextDecode { background-color: lightgoldenrodyellow; }
.Miss       { background-color: darkorange;  font-size: 0.8em;}
.found      { background-color: lightskyblue; border-radius: 10%; }
.top        { vertical-align:top; }
.lenErr { border-color: blueviolet; border-width: 4px; }
.error  { border-color: red;        border-width: 4px;}
input[type=text]         { width: 60px; }
.scrolling  { overflow-y: scroll; height:760px; }
.modal      {--bs-modal-width:  1200px;}
tr.closed   {height: 0px;     display: none;}
.opened     {height: 40px;}
.dropdown-check-list { display: inline-block; }
input.vsmall{ width: 50px; }
input.small { width: 100px; }
input.medium{ width: 140px; }
input.big   { width: 180px; }
input.vbig  { width: 360px; }

/*  */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #fcc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

button.accordion:after {
  content: '\002B';
  float: right;
}

button.accordion.active:after {
  content: "\2212";
}
/*  */
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: '';
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li        { list-style: none; }
.dropdown-check-list.visible .anchor    { color: #0094ff; }
.dropdown-check-list.visible .items     { display: block;   }
