body {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: left top;
}

table, tr, td, th {
    transition: .2s;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5px;
    padding: 8px;
    text-align: center;
}

tr.selected { background-color: greenyellow; }

tr:hover {
    background-color: #45A29E;
    border-radius: 20px;
    /*transform: scale(1.1);*/
}

tr:nth-child(even) { background-color: lightblue; }
tr:nth-child(odd)  { background-color: lightcyan; }

.ATOZ {background: url("../images/atoz.png") no-repeat right top;}
.ZTOA {background: url("../images/ztoa.png") no-repeat left bottom;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #666;
    color: aqua;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #888;
    color: white;
}
.tablinks {
    display: inline-block;
    width: 11%;
    text-align: center;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
    background-color: #ccc;
}

/*      used in the bit-coins and weather apps      */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}

.bball-card {
    border-style: solid;
    border-radius: 30px;
    height: 200px;
}

.bball-card > img {
    margin:10px;
    width:120px;
    height:120px;
    transition:all 0.5s ;
}

.disney-card {
    border-style: solid;
    border-radius: 30px;
    height: 300px;
}

.disney-card > img {
    float:left;
    margin:10px;
    width:160px;
    height:160px;
    transition:all 0.5s ;
}

.disney-card > img:hover {
    width:180px;
    height:180px;
}

.art-card {
    border-style: solid;
    border-radius: 30px;
    height: 400px;
}

.art-card > img {
    border-radius: 15px;
    margin:10px;
    width:300px;
    height:300px;
    transition:all 0.5s ;
}

