body {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: left top;
}

table, tr, td, th {
    transition: .2s;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5px;
    padding: 28px;
    text-align: center;
}

tr:hover {
    background-color: #45A29E;
    border-radius: 20px;
}

tr.selected { background-color: greenyellow !important; }

.ATOZ {background: url("../images/atoz.svg") no-repeat right top;}
.ZTOA {background: url("../images/ztoa.svg") no-repeat right bottom;}

/* Style the tab */
.tab {overflow: hidden;}
.Quiz       {background-color:burlywood; color: black;}
.Assignment {background-color: antiquewhite; color: black}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #444; 
    color: white;
}
.tablinks {
    display: inline-block;
    width: 10%;
    text-align: center;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #ccc;
}

/*      used in the bit-coins and weather apps      */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}

.bball-card {
    border-style: solid;
    border-radius: 30px;
    height: 200px;
}

.bball-card > img {
    margin:10px;
    width:120px;
    height:120px;
    transition:all 0.5s ;
}

.disney-card {
    padding-left: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 300px;
}

.disney-card > img {
    float:left;
    margin:10px;
    width:160px;
    height:160px;
    transition:all 0.5s ;
}

.disney-card > img:hover {
    width:180px;
    height:180px;
}

.art-card {
    border-style: solid;
    border-radius: 30px;
    height: 400px;
}

.art-card > img {
    border-radius: 15px;
    margin:10px;
    width:300px;
    height:300px;
    transition:all 0.5s ;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #fcc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

button.accordion:after {
    content: '\002B';
    float: right;
}

button.accordion.active:after {
    content: "\2212";
}